/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
*.log
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
node_modules
.sass_cache/
*.css.map
